
header {
    height: 80px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {

    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

aside {
    flex: 1;
    background-color: aquamarine;
    position: relative;
}

aside div h3 {
    position: absolute;
    top: 50%;
    right: 50%;
}

main {
    display: flex;
    height: calc(100vh - 80px);
}

#toggleIcon {
    height: 40px;
    cursor: pointer;
}

.dark-mode {
    background-color: darkslategrey;
}